/* Variables */
$header-blue:#115EC7;
$header-purple: #A159A1;

$component-grey: #EFF2F6;
$background-grey: #DCE1E7;
$placeholder-grey: #D0D6DC;
$border-grey: #D3D8E0;

$btn-green: #00DEA9;
$btn-green-border: #00C697;
$btn-blue: #195EC5;
$btn-blue-border: #154690;

/* Styles */

/* Header */
header{
  height: 80px;
  background-image: linear-gradient(-90deg, $header-purple 0%, $header-blue 100%);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  position: relative;
}
